#Ignore vscode files
*.vscode
*.vscode-workspace
*.log
*.key
*.csr

*.digest.json

ignition.conf
logback.xml
docker-compose.yml

*projects/conversion-report.txt
*projects/.resources
*Documentation/Frontend_Ignition-backup-20221104-1253.gwbk
*Documentation/Frontend_Ignition-backup-20221104-1421.gwbk

*ignition_data/Subscriber/modules/com.inductiveautomation.perspective/fonts
*ignition_data/Subscriber/modules/com.inductiveautomation.perspective/icons

*temp/

# Folders to ignore
*Modules/ 
*Documentation/
*Publisher/
*Authenitcation/

# Authenitcation files to ignore
*pw
*frontend.crt

# ignoring unneeded theme folders
*ignition_data/Subscriber/__projects_1666889466862.bak
*ignition_data/Subscriber/modules/com.inductiveautomation.perspective/themes/dark.css
*ignition_data/Subscriber/modules/com.inductiveautomation.perspective/themes/dark
*ignition_data/Subscriber/modules/com.inductiveautomation.perspective/themes/light.css
*ignition_data/Subscriber/modules/com.inductiveautomation.perspective/themes/light
*ignition_data/Subscriber/modules/com.inductiveautomation.perspective/themes/dark-warm.css
*ignition_data/Subscriber/modules/com.inductiveautomation.perspective/themes/dark-warm
*ignition_data/Subscriber/modules/com.inductiveautomation.perspective/themes/dark-cool.css
*ignition_data/Subscriber/modules/com.inductiveautomation.perspective/themes/dark-cool
*ignition_data/Subscriber/modules/com.inductiveautomation.perspective/themes/light-cool.css
*ignition_data/Subscriber/modules/com.inductiveautomation.perspective/themes/light-cool
