.ia_tagBrowser__noResultsDisplay,
.ia_tagBrowser__loadingDisplay {
    background: var(--neutral-10);
    border: var(--containerBorder);
}

.ia_tagBrowser__noResultsDisplay__message {
    color: var(--input--disabled);
}
